/*1 – Insira uma caixa de texto na tela que permita somente números. Baseado no valor 
digitado, calcule a média das notas digitadas pelo usuário.*/
label {
    display: block;
}

label .required {
    font-size: 0.75em;
    color:#760000;
}
